@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

 <div class="conteiner-mae">
        <div class="home">
            <div class="box-titulo-desc">
                <div class="titulo">
                    <h1>VOLK</h1>
                </div>
                <div class="descricao">
                    <h4>Seu sistema inteligente</h4>
                </div>
            </div>
        </div>
        <div class="middle">
                <div class="titulo">
                    <h1>Trabalhamos com</h1>
                </div>
                <div class="box-servicos">
                    <div class="box-produtos">
                        <div class="image">
                          <img src="https://www.petz.com.br/blog/wp-content/uploads/2019/07/vida-de-gato.jpg"
                                alt="planta"
                            />
                        </div>
                        <div class="descricao">
                            <h3>produto</h3>
                        </div>
                    </div>
                    <div class="box-plantacoes">
                        <div class="image">
                            <img src="https://www.petz.com.br/blog/wp-content/uploads/2019/07/vida-de-gato.jpg"
                                alt="planta"
                            />
                        </div>
                        <div class="descricao">
                            <h3>plantacoes</h3>
                        </div>
                    </div>
                    <div class="box-fornecedores">
                        <div class="image">
                            <img src="https://www.petz.com.br/blog/wp-content/uploads/2019/07/vida-de-gato.jpg"
                                alt="planta"
                            />
                        </div>
                        <div class="descricao">
                            <h3>fornecedores</h3>
                        </div>
                    </div>
                </div>
            </div>
    </div>
           
        </div>
    </div>
